MANIFEST
META.*
MYMETA.*
_build/
.build/
build/
blib/
inc/
pm_to_blib
.*.sw?
.nfs*
*#
.#*
*~
*.bak
*.old
cover_db/
cpanfile.snapshot
local/
.perl-version
Test2-Plugin-TodoFailOnSuccess-*/
Test2-Plugin-TodoFailOnSuccess-*.tar.*
